{% extends 'base.html'%}
{% load static% }
{% block content%}

 <h1 class="text-center mb-4">AddStock</h1>
        <div class="container">
          <form method="POST" enctype="multipart/form-data" class="ms-3 justify-content:center bg-dark text-light p-4 rounded" style="width: 500px;">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" value="{{pro.stock}}"   class="form-control" name="s" placeholder="Enter Stock">
            </div>
            <div class="d-grid">
                <input type="submit" class="btn btn-info text-light" value="Submit">
            </div>
          </form>
        </div>

  {% endblock %}