{%extends  'base.html'%}
{% load static %}
{% block content %}
<style>
  .circular-image {
    width: 400px; /* Desired width */
    height: 400px; /* Desired height */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures image fits circular area */
    overflow: hidden; /* Ensures only the circular area is visible */
    border: 2px solid #ccc; /* Optional border styling */
  }
</style>
<section id="banner" style="background: #F9F3EC;">
    <div class="container">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide py-5">
            <div class="row banner-content align-items-center">
              <div class="img-wrapper col-md-5">
<!--                <img src="{% static 'images/blog2.jpg'%}" class="img-fluid circular-image  border-radious:50px;" height="600px" width="600px;" alt="Banner Image">-->
                <img src="{% static 'images/p.png' %}" class="img-fluid circular-image" alt="Banner Image">

              </div>
              <div class="content-wrapper col-md-7 p-5 mb-5">
                <div class="secondary-font text-primary text-uppercase mb-4">Save 10 - 20 % off</div>
                <h2 class="banner-title display-1 fw-normal">Best destination for <span class="text-primary">your
                    pets Category</span>
                </h2>
                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                  shop now
                  <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                    <use xlink:href="#arrow-right"></use>
                  </svg></a>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="swiper-pagination mb-5"></div>
      </div>
    </div>
  </section>
 <section id="foodies" class="my-5">
    <div class="container my-5 py-5">

      <div class="section-header d-md-flex justify-content-between align-items-center">
        <h2 class="display-3 fw-normal mx-5 ">Pet Category</h2>
        <div class="mb-4 mb-md-0">
          <p class="m-0 mx-5">
            <button class="filter-button me-4  active" data-filter="*">ALL</button>
            <button class="filter-button me-4 " data-filter=".cat">CAT</button>
            <button class="filter-button me-4 " data-filter=".dog">DOG</button>
            <button class="filter-button me-4 " data-filter=".bird">BIRD</button>
          </p>
        </div>
        <div>
          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 mx-5 my-5">
            shop now
            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>
      </div>





<div class="isotope-container row">

    {% for categoryy in cat %}

         <div class="item cat col-md-4 col-lg-3 my-4 mt-3 ">
          <!-- <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
            New
          </div> -->
          <div class=" card position-relative p-0 mx-4   ">
       <a href="single-product.html"><img src="{{categoryy.image.url}}" height="300px" width="305px" alt="imagess"></a>
            <div class="card-body p-0 mx-5">
                <a href="{% url 'shop:product' categoryy.id%}">
                 <h3 class="card-title pt-4 m-0 my-4">{{categoryy.name}}</h3>
                 <h3 class="card-title pt-4 m-0 my-4">{{categoryy.desc}}</h3>
                </a>
              <div class="card-text">
                <span class="rating secondary-font">
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  5.0</span>


                <div class="d-flex flex-wrap mt-3 mb-3">
                    <a href="{% url 'shop:product' categoryy.id%}" class="btn btn-primary">View product</a>


                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>











  </section>
{%endblock%}
